!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dear, <%= @receiver.name %></h1>
    <p>
      I want to get that book. Please send me to my address
      your username is: <%= @user.login %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>your mail sent to the owner</p>
  </body>
</html>

