<ul id="sidebar">
  <li><%= link_to 'Inventory', inventories_path %></li>
  <li><%= link_to 'Wistlist', wishlists_path %></li>
  <li><%= link_to 'add a NewBook', new_book_path %></li>
  <li><%= link_to 'browse', books_path %></li>
</ul>
