<ul id="sidebar">
   <li><%= link_to 'Browse', books_path %></li
  <li><%= link_to 'My Inventory', inventories_path %></li>
  <li><%= link_to 'My Wishlist', wishlists_path %></li>
  <li><%= link_to 'Add a Book', new_book_path %></li>

</ul>
